
sys_ios/.DS_Store

*.jet

sys_ios/harsh.xcodeproj/xcuserdata/xproger.xcuserdatad/xcschemes/xcschememanagement.plist

sys_ios/harsh.xcodeproj/xcuserdata/xproger.xcuserdatad/xcschemes/harsh.xcscheme

sys_ios/harsh.xcodeproj/project.xcworkspace/xcuserdata/xproger.xcuserdatad/UserInterfaceState.xcuserstate
